.character {
  color: rgb(190, 236, 120);
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.create {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 180px;
}

ul {
  list-style: none;
}
